<?xml version="1.0" encoding="UTF-8"?>
<sss version="2.0" languages="en" modes="interview">
  <date>2016-02-13</date>
  <time>20:05:22</time>
  <origin>LimeSurvey 2.06+ - build:151109 - exportTripleS 2.0</origin>
  <survey>
    <name>sid567311</name>
    <title>Sample LimeSurvey Survey for v1.9 (All question type and some option)</title>
    <record ident="D" format="fixed" skip="0">
      <variable ident="1" type="quantity" use="serial">
        <name>id</name>
        <label>Response ID </label>
        <position start="1" finish="10"/>
        <values>
          <range from="0000000001" to="2147483648"/>
        </values>
      </variable>
      <variable ident="2" type="date">
        <name>submitdate_date</name>
        <label>Date submitted </label>
        <position start="11" finish="18"/>
      </variable>
      <variable ident="3" type="time">
        <name>submitdate_time</name>
        <label>Date submitted </label>
        <position start="19" finish="22"/>
      </variable>
      <variable ident="4" type="quantity">
        <name>lastpage</name>
        <label>Last page </label>
        <position start="23" finish="25"/>
        <values>
          <range from="001" to="999"/>
        </values>
      </variable>
      <variable ident="5" type="character">
        <name>startlanguage</name>
        <label>Start language </label>
        <position start="26" finish="45"/>
        <size>20</size>
      </variable>
      <variable ident="6" type="date">
        <name>startdate_date</name>
        <label>Date started </label>
        <position start="46" finish="53"/>
      </variable>
      <variable ident="7" type="time">
        <name>startdate_time</name>
        <label>Date started </label>
        <position start="54" finish="57"/>
      </variable>
      <variable ident="8" type="date">
        <name>datestamp_date</name>
        <label>Date last action </label>
        <position start="58" finish="65"/>
      </variable>
      <variable ident="9" type="time">
        <name>datestamp_time</name>
        <label>Date last action </label>
        <position start="66" finish="69"/>
      </variable>
      <variable ident="10" type="character">
        <name>S</name>
        <label>Short free text </label>
        <position start="70" finish="109"/>
        <size>40</size>
      </variable>
      <variable ident="11" type="character">
        <name>T</name>
        <label>Long free text </label>
        <position start="110" finish="364"/>
        <size>255</size>
      </variable>
      <variable ident="12" type="character">
        <name>H</name>
        <label>Huge free text </label>
        <position start="365" finish="619"/>
        <size>255</size>
      </variable>
      <variable ident="13" type="character">
        <name>S1</name>
        <label>Short free text (Numbers only, With a timer) </label>
        <position start="620" finish="659"/>
        <size>40</size>
      </variable>
      <variable ident="14" type="character">
        <name>T1</name>
        <label>Long free text (Input box width :3, Display rows : 2 , Maximum characters : 6) </label>
        <position start="660" finish="665"/>
        <size>6</size>
      </variable>
      <variable ident="15" type="character">
        <name>Q_SQ01</name>
        <label>Multiple short text (Some example subquestion)</label>
        <position start="666" finish="920"/>
        <size>255</size>
      </variable>
      <variable ident="16" type="character">
        <name>Q_SQ02</name>
        <label>Multiple short text (New answer subquestion)</label>
        <position start="921" finish="1175"/>
        <size>255</size>
      </variable>
      <variable ident="17" type="character">
        <name>Q_SQ03</name>
        <label>Multiple short text (Third subquestion)</label>
        <position start="1176" finish="1430"/>
        <size>255</size>
      </variable>
      <variable ident="18" type="character">
        <name>Q_SQ04</name>
        <label>Multiple short text (Last subquestion)</label>
        <position start="1431" finish="1685"/>
        <size>255</size>
      </variable>
      <variable ident="19" type="character">
        <name>Q1_SQ01</name>
        <label>Multiple short text (Display rows : 2, Random answer order) (Some example subquestion)</label>
        <position start="1686" finish="1940"/>
        <size>255</size>
      </variable>
      <variable ident="20" type="character">
        <name>Q1_SQ02</name>
        <label>Multiple short text (Display rows : 2, Random answer order) (New answer subquestion)</label>
        <position start="1941" finish="2195"/>
        <size>255</size>
      </variable>
      <variable ident="21" type="character">
        <name>Q1_SQ03</name>
        <label>Multiple short text (Display rows : 2, Random answer order) (Third subquestion)</label>
        <position start="2196" finish="2450"/>
        <size>255</size>
      </variable>
      <variable ident="22" type="character">
        <name>Q1_SQ04</name>
        <label>Multiple short text (Display rows : 2, Random answer order) (Last subquestion)</label>
        <position start="2451" finish="2705"/>
        <size>255</size>
      </variable>
      <variable ident="23" type="character">
        <name>M2_SQ01</name>
        <label>Multiple short text, with long answers (Maximum characters: 2, Numbers only, Input box width : 2) (Some example subquestion with some word to be longer)</label>
        <position start="2706" finish="2707"/>
        <size>2</size>
      </variable>
      <variable ident="24" type="character">
        <name>M2_SQ02</name>
        <label>Multiple short text, with long answers (Maximum characters: 2, Numbers only, Input box width : 2) (New answer subquestion)</label>
        <position start="2708" finish="2709"/>
        <size>2</size>
      </variable>
      <variable ident="25" type="character">
        <name>M2_SQ03</name>
        <label>Multiple short text, with long answers (Maximum characters: 2, Numbers only, Input box width : 2) (Third subquestion)</label>
        <position start="2710" finish="2711"/>
        <size>2</size>
      </variable>
      <variable ident="26" type="character">
        <name>M2_SQ04</name>
        <label>Multiple short text, with long answers (Maximum characters: 2, Numbers only, Input box width : 2) (Last subquestion with some word after to be a little longer)</label>
        <position start="2712" finish="2713"/>
        <size>2</size>
      </variable>
      <variable ident="27" type="character">
        <name>AT_SQY01_SQX01</name>
        <label>Array Texts (Some example subquestion - Y)(Some example subquestion - X)</label>
        <position start="2714" finish="2753"/>
        <size>40</size>
      </variable>
      <variable ident="28" type="character">
        <name>AT_SQY01_SQX02</name>
        <label>Array Texts (Some example subquestion - Y)(New answer subquestion - X)</label>
        <position start="2754" finish="2793"/>
        <size>40</size>
      </variable>
      <variable ident="29" type="character">
        <name>AT_SQY01_SQX03</name>
        <label>Array Texts (Some example subquestion - Y)(Third subquestion - X)</label>
        <position start="2794" finish="2833"/>
        <size>40</size>
      </variable>
      <variable ident="30" type="character">
        <name>AT_SQY01_SQX04</name>
        <label>Array Texts (Some example subquestion - Y)(Last subquestion - X)</label>
        <position start="2834" finish="2873"/>
        <size>40</size>
      </variable>
      <variable ident="31" type="character">
        <name>AT_SQY02_SQX01</name>
        <label>Array Texts (New answer subquestion - Y)(Some example subquestion - X)</label>
        <position start="2874" finish="2913"/>
        <size>40</size>
      </variable>
      <variable ident="32" type="character">
        <name>AT_SQY02_SQX02</name>
        <label>Array Texts (New answer subquestion - Y)(New answer subquestion - X)</label>
        <position start="2914" finish="2953"/>
        <size>40</size>
      </variable>
      <variable ident="33" type="character">
        <name>AT_SQY02_SQX03</name>
        <label>Array Texts (New answer subquestion - Y)(Third subquestion - X)</label>
        <position start="2954" finish="2993"/>
        <size>40</size>
      </variable>
      <variable ident="34" type="character">
        <name>AT_SQY02_SQX04</name>
        <label>Array Texts (New answer subquestion - Y)(Last subquestion - X)</label>
        <position start="2994" finish="3033"/>
        <size>40</size>
      </variable>
      <variable ident="35" type="character">
        <name>AT_SQY03_SQX01</name>
        <label>Array Texts (Third subquestion - Y)(Some example subquestion - X)</label>
        <position start="3034" finish="3073"/>
        <size>40</size>
      </variable>
      <variable ident="36" type="character">
        <name>AT_SQY03_SQX02</name>
        <label>Array Texts (Third subquestion - Y)(New answer subquestion - X)</label>
        <position start="3074" finish="3113"/>
        <size>40</size>
      </variable>
      <variable ident="37" type="character">
        <name>AT_SQY03_SQX03</name>
        <label>Array Texts (Third subquestion - Y)(Third subquestion - X)</label>
        <position start="3114" finish="3153"/>
        <size>40</size>
      </variable>
      <variable ident="38" type="character">
        <name>AT_SQY03_SQX04</name>
        <label>Array Texts (Third subquestion - Y)(Last subquestion - X)</label>
        <position start="3154" finish="3193"/>
        <size>40</size>
      </variable>
      <variable ident="39" type="character">
        <name>AT_SQY04_SQX01</name>
        <label>Array Texts (Last subquestion - Y)(Some example subquestion - X)</label>
        <position start="3194" finish="3233"/>
        <size>40</size>
      </variable>
      <variable ident="40" type="character">
        <name>AT_SQY04_SQX02</name>
        <label>Array Texts (Last subquestion - Y)(New answer subquestion - X)</label>
        <position start="3234" finish="3273"/>
        <size>40</size>
      </variable>
      <variable ident="41" type="character">
        <name>AT_SQY04_SQX03</name>
        <label>Array Texts (Last subquestion - Y)(Third subquestion - X)</label>
        <position start="3274" finish="3313"/>
        <size>40</size>
      </variable>
      <variable ident="42" type="character">
        <name>AT_SQY04_SQX04</name>
        <label>Array Texts (Last subquestion - Y)(Last subquestion - X)</label>
        <position start="3314" finish="3353"/>
        <size>40</size>
      </variable>
      <variable ident="43" type="quantity">
        <name>N</name>
        <label>Numerical input </label>
        <position start="3354" finish="3385"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="44" type="quantity">
        <name>MN_SQ01</name>
        <label>Multiple numerical input (Some example subquestion)</label>
        <position start="3386" finish="3417"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="45" type="quantity">
        <name>MN_SQ02</name>
        <label>Multiple numerical input (New answer subquestion)</label>
        <position start="3418" finish="3449"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="46" type="quantity">
        <name>MN_SQ03</name>
        <label>Multiple numerical input (Third subquestion)</label>
        <position start="3450" finish="3481"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="47" type="quantity">
        <name>MN_SQ04</name>
        <label>Multiple numerical input (Last subquestion)</label>
        <position start="3482" finish="3513"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="48" type="quantity">
        <name>MNM_SQ001</name>
        <label>Multiple numerical input (Minimum sum value : 3, Maximum sum value : 10, Maximum characters :1 ) (Apples)</label>
        <position start="3514" finish="3545"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="49" type="quantity">
        <name>MNM_SQ002</name>
        <label>Multiple numerical input (Minimum sum value : 3, Maximum sum value : 10, Maximum characters :1 ) (Oranges)</label>
        <position start="3546" finish="3577"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="50" type="quantity">
        <name>MNM_SQ003</name>
        <label>Multiple numerical input (Minimum sum value : 3, Maximum sum value : 10, Maximum characters :1 ) (Bananas)</label>
        <position start="3578" finish="3609"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="51" type="quantity">
        <name>Q2_SQ01</name>
        <label>Multiple numerical input (Use slider layout, Slider accuracy : 0.1, min and max value, use of text separator ) (Some example subquestion|less|more)</label>
        <position start="3610" finish="3613"/>
        <values>
          <range from="1.0" to="10.0"/>
        </values>
      </variable>
      <variable ident="52" type="quantity">
        <name>Q2_SQ02</name>
        <label>Multiple numerical input (Use slider layout, Slider accuracy : 0.1, min and max value, use of text separator ) (New answer subquestion|less|more)</label>
        <position start="3614" finish="3617"/>
        <values>
          <range from="1.0" to="10.0"/>
        </values>
      </variable>
      <variable ident="53" type="quantity">
        <name>Q2_SQ03</name>
        <label>Multiple numerical input (Use slider layout, Slider accuracy : 0.1, min and max value, use of text separator ) (Third subquestion|less|more)</label>
        <position start="3618" finish="3621"/>
        <values>
          <range from="1.0" to="10.0"/>
        </values>
      </variable>
      <variable ident="54" type="quantity">
        <name>Q2_SQ04</name>
        <label>Multiple numerical input (Use slider layout, Slider accuracy : 0.1, min and max value, use of text separator ) (Last subquestion|less|more)</label>
        <position start="3622" finish="3625"/>
        <values>
          <range from="1.0" to="10.0"/>
        </values>
      </variable>
      <variable ident="55" type="quantity">
        <name>ANT_SQY01_SQX01</name>
        <label>Array numbers (text input) (Y-axis example subquestion)(X-axis example subquestion)</label>
        <position start="3626" finish="3657"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="56" type="quantity">
        <name>ANT_SQY01_SQX02</name>
        <label>Array numbers (text input) (Y-axis example subquestion)(X-axis new answer subquestion)</label>
        <position start="3658" finish="3689"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="57" type="quantity">
        <name>ANT_SQY01_SQX03</name>
        <label>Array numbers (text input) (Y-axis example subquestion)(X-axis third subquestion)</label>
        <position start="3690" finish="3721"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="58" type="quantity">
        <name>ANT_SQY01_SQX04</name>
        <label>Array numbers (text input) (Y-axis example subquestion)(X-axis last subquestion)</label>
        <position start="3722" finish="3753"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="59" type="quantity">
        <name>ANT_SQY02_SQX01</name>
        <label>Array numbers (text input) (Y-axis new answer subquestion)(X-axis example subquestion)</label>
        <position start="3754" finish="3785"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="60" type="quantity">
        <name>ANT_SQY02_SQX02</name>
        <label>Array numbers (text input) (Y-axis new answer subquestion)(X-axis new answer subquestion)</label>
        <position start="3786" finish="3817"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="61" type="quantity">
        <name>ANT_SQY02_SQX03</name>
        <label>Array numbers (text input) (Y-axis new answer subquestion)(X-axis third subquestion)</label>
        <position start="3818" finish="3849"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="62" type="quantity">
        <name>ANT_SQY02_SQX04</name>
        <label>Array numbers (text input) (Y-axis new answer subquestion)(X-axis last subquestion)</label>
        <position start="3850" finish="3881"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="63" type="quantity">
        <name>ANT_SQY03_SQX01</name>
        <label>Array numbers (text input) (Y-axis third subquestion)(X-axis example subquestion)</label>
        <position start="3882" finish="3913"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="64" type="quantity">
        <name>ANT_SQY03_SQX02</name>
        <label>Array numbers (text input) (Y-axis third subquestion)(X-axis new answer subquestion)</label>
        <position start="3914" finish="3945"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="65" type="quantity">
        <name>ANT_SQY03_SQX03</name>
        <label>Array numbers (text input) (Y-axis third subquestion)(X-axis third subquestion)</label>
        <position start="3946" finish="3977"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="66" type="quantity">
        <name>ANT_SQY03_SQX04</name>
        <label>Array numbers (text input) (Y-axis third subquestion)(X-axis last subquestion)</label>
        <position start="3978" finish="4009"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="67" type="quantity">
        <name>ANT_SQY04_SQX01</name>
        <label>Array numbers (text input) (Y-axis last subquestion)(X-axis example subquestion)</label>
        <position start="4010" finish="4041"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="68" type="quantity">
        <name>ANT_SQY04_SQX02</name>
        <label>Array numbers (text input) (Y-axis last subquestion)(X-axis new answer subquestion)</label>
        <position start="4042" finish="4073"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="69" type="quantity">
        <name>ANT_SQY04_SQX03</name>
        <label>Array numbers (text input) (Y-axis last subquestion)(X-axis third subquestion)</label>
        <position start="4074" finish="4105"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="70" type="quantity">
        <name>ANT_SQY04_SQX04</name>
        <label>Array numbers (text input) (Y-axis last subquestion)(X-axis last subquestion)</label>
        <position start="4106" finish="4137"/>
        <values>
          <range from="-99999999999999999999.9999999999" to="99999999999999999999.9999999999"/>
        </values>
      </variable>
      <variable ident="71" type="single" format="literal">
        <name>Y</name>
        <label>Yes/No </label>
        <position start="4138" finish="4138"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
        </values>
      </variable>
      <variable ident="72" type="single" format="literal">
        <name>G</name>
        <label>Gender </label>
        <position start="4139" finish="4139"/>
        <values>
          <value code="M">Male</value>
          <value code="F">Female</value>
        </values>
      </variable>
      <variable ident="73" type="single" format="literal">
        <name>q5</name>
        <label>5 point choice </label>
        <position start="4140" finish="4140"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
        </values>
      </variable>
      <variable ident="74" type="character">
        <name>I</name>
        <label>Language switch </label>
        <position start="4141" finish="4160"/>
        <size>20</size>
      </variable>
      <variable ident="75" type="single" format="literal">
        <name>ldd</name>
        <label>List dropdown (default option) </label>
        <position start="4161" finish="4165"/>
        <values>
          <value code="A0">Default option</value>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="76" type="single" format="literal">
        <name>ldc</name>
        <label>List dropdown (with category) </label>
        <position start="4166" finish="4170"/>
        <values>
          <value code="A11">first category - Some example answer option</value>
          <value code="A12">first category - New answer option</value>
          <value code="A13">first category - Third answer option</value>
          <value code="A14">first category - Last answer option</value>
          <value code="A21">second category - Some example answer option</value>
          <value code="A22">second category - New answer option</value>
          <value code="A23">second category - Third answer option</value>
          <value code="A24">second category - Last answer option</value>
        </values>
      </variable>
      <variable ident="77" type="single" format="literal">
        <name>L</name>
        <label>List radio </label>
        <position start="4171" finish="4175"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="78" type="single" format="literal">
        <name>O</name>
        <label>List radio with comment </label>
        <position start="4176" finish="4180"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="79" type="character">
        <name>O_comment</name>
        <label>List radio with comment (Comment)</label>
        <position start="4181" finish="4220"/>
        <size>40</size>
      </variable>
      <variable ident="80" type="date">
        <name>D_date</name>
        <label>Date </label>
        <position start="4221" finish="4228"/>
      </variable>
      <variable ident="81" type="time">
        <name>D_time</name>
        <label>Date </label>
        <position start="4229" finish="4232"/>
      </variable>
      <variable ident="82" type="date">
        <name>D1_date</name>
        <label>Date (Display select boxes , year Maximum and Minimum) </label>
        <position start="4233" finish="4240"/>
      </variable>
      <variable ident="83" type="time">
        <name>D1_time</name>
        <label>Date (Display select boxes , year Maximum and Minimum) </label>
        <position start="4241" finish="4244"/>
      </variable>
      <variable ident="84" type="single" format="literal">
        <name>F_SQ01</name>
        <label>Array (Some example subquestion|right)</label>
        <position start="4245" finish="4249"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="85" type="single" format="literal">
        <name>F_SQ02</name>
        <label>Array (New answer subquestion|right)</label>
        <position start="4250" finish="4254"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="86" type="single" format="literal">
        <name>F_SQ03</name>
        <label>Array (Third subquestion|right)</label>
        <position start="4255" finish="4259"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="87" type="single" format="literal">
        <name>F_SQ04</name>
        <label>Array (Last subquestion|right)</label>
        <position start="4260" finish="4264"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="88" type="single" format="literal">
        <name>abc_SQ01</name>
        <label>Array by column (Some example subquestion)</label>
        <position start="4265" finish="4269"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="89" type="single" format="literal">
        <name>abc_SQ02</name>
        <label>Array by column (New answer subquestion)</label>
        <position start="4270" finish="4274"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="90" type="single" format="literal">
        <name>abc_SQ03</name>
        <label>Array by column (Third subquestion)</label>
        <position start="4275" finish="4279"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="91" type="single" format="literal">
        <name>abc_SQ04</name>
        <label>Array by column (Last subquestion)</label>
        <position start="4280" finish="4284"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="92" type="single" format="literal">
        <name>A_SQ01</name>
        <label>Array 5 point choice (Some example subquestion)</label>
        <position start="4285" finish="4285"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
        </values>
      </variable>
      <variable ident="93" type="single" format="literal">
        <name>A_SQ02</name>
        <label>Array 5 point choice (New answer subquestion)</label>
        <position start="4286" finish="4286"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
        </values>
      </variable>
      <variable ident="94" type="single" format="literal">
        <name>A_SQ03</name>
        <label>Array 5 point choice (Third subquestion)</label>
        <position start="4287" finish="4287"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
        </values>
      </variable>
      <variable ident="95" type="single" format="literal">
        <name>A_SQ04</name>
        <label>Array 5 point choice (Last subquestion)</label>
        <position start="4288" finish="4288"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
        </values>
      </variable>
      <variable ident="96" type="single" format="literal">
        <name>B_SQ01</name>
        <label>Array 10 point choice (Some example subquestion)</label>
        <position start="4289" finish="4290"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
          <value code="6">6</value>
          <value code="7">7</value>
          <value code="8">8</value>
          <value code="9">9</value>
          <value code="10">10</value>
        </values>
      </variable>
      <variable ident="97" type="single" format="literal">
        <name>B_SQ02</name>
        <label>Array 10 point choice (New answer subquestion)</label>
        <position start="4291" finish="4292"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
          <value code="6">6</value>
          <value code="7">7</value>
          <value code="8">8</value>
          <value code="9">9</value>
          <value code="10">10</value>
        </values>
      </variable>
      <variable ident="98" type="single" format="literal">
        <name>B_SQ03</name>
        <label>Array 10 point choice (Third subquestion)</label>
        <position start="4293" finish="4294"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
          <value code="6">6</value>
          <value code="7">7</value>
          <value code="8">8</value>
          <value code="9">9</value>
          <value code="10">10</value>
        </values>
      </variable>
      <variable ident="99" type="single" format="literal">
        <name>B_SQ04</name>
        <label>Array 10 point choice (Last subquestion)</label>
        <position start="4295" finish="4296"/>
        <values>
          <value code="1">1</value>
          <value code="2">2</value>
          <value code="3">3</value>
          <value code="4">4</value>
          <value code="5">5</value>
          <value code="6">6</value>
          <value code="7">7</value>
          <value code="8">8</value>
          <value code="9">9</value>
          <value code="10">10</value>
        </values>
      </variable>
      <variable ident="100" type="single" format="literal">
        <name>E_SQ01</name>
        <label>Array (Increase/Same/Decrease) (Some example subquestion)</label>
        <position start="4297" finish="4297"/>
        <values>
          <value code="I">Increase</value>
          <value code="D">Decrease</value>
          <value code="S">Same</value>
        </values>
      </variable>
      <variable ident="101" type="single" format="literal">
        <name>E_SQ02</name>
        <label>Array (Increase/Same/Decrease) (New answer subquestion)</label>
        <position start="4298" finish="4298"/>
        <values>
          <value code="I">Increase</value>
          <value code="D">Decrease</value>
          <value code="S">Same</value>
        </values>
      </variable>
      <variable ident="102" type="single" format="literal">
        <name>E_SQ03</name>
        <label>Array (Increase/Same/Decrease) (Third subquestion)</label>
        <position start="4299" finish="4299"/>
        <values>
          <value code="I">Increase</value>
          <value code="D">Decrease</value>
          <value code="S">Same</value>
        </values>
      </variable>
      <variable ident="103" type="single" format="literal">
        <name>E_SQ04</name>
        <label>Array (Increase/Same/Decrease) (Last subquestion)</label>
        <position start="4300" finish="4300"/>
        <values>
          <value code="I">Increase</value>
          <value code="D">Decrease</value>
          <value code="S">Same</value>
        </values>
      </variable>
      <variable ident="104" type="single" format="literal">
        <name>C_SQ01</name>
        <label>Array Yes/No/Uncertain (Some example subquestion)</label>
        <position start="4301" finish="4301"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="105" type="single" format="literal">
        <name>C_SQ02</name>
        <label>Array Yes/No/Uncertain (New answer subquestion)</label>
        <position start="4302" finish="4302"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="106" type="single" format="literal">
        <name>C_SQ03</name>
        <label>Array Yes/No/Uncertain (Third subquestion)</label>
        <position start="4303" finish="4303"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="107" type="single" format="literal">
        <name>C_SQ04</name>
        <label>Array Yes/No/Uncertain (Last subquestion)</label>
        <position start="4304" finish="4304"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="108" type="single" format="literal">
        <name>dual_SQ01_0</name>
        <label>Array dual scale (Some example subquestion)(Scale 1)</label>
        <position start="4305" finish="4309"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="109" type="single" format="literal">
        <name>dual_SQ01_1</name>
        <label>Array dual scale (Some example subquestion)(Scale 2)</label>
        <position start="4310" finish="4314"/>
        <values>
          <value code="A21">Some example answer scale 2</value>
          <value code="A22">New answer scale 2</value>
          <value code="A23">Third answer scale 2</value>
          <value code="A24">Last answer scale 2</value>
        </values>
      </variable>
      <variable ident="110" type="single" format="literal">
        <name>dual_SQ02_0</name>
        <label>Array dual scale (New answer subquestion)(Scale 1)</label>
        <position start="4315" finish="4319"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="111" type="single" format="literal">
        <name>dual_SQ02_1</name>
        <label>Array dual scale (New answer subquestion)(Scale 2)</label>
        <position start="4320" finish="4324"/>
        <values>
          <value code="A21">Some example answer scale 2</value>
          <value code="A22">New answer scale 2</value>
          <value code="A23">Third answer scale 2</value>
          <value code="A24">Last answer scale 2</value>
        </values>
      </variable>
      <variable ident="112" type="single" format="literal">
        <name>dual_SQ03_0</name>
        <label>Array dual scale (Third subquestion)(Scale 1)</label>
        <position start="4325" finish="4329"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="113" type="single" format="literal">
        <name>dual_SQ03_1</name>
        <label>Array dual scale (Third subquestion)(Scale 2)</label>
        <position start="4330" finish="4334"/>
        <values>
          <value code="A21">Some example answer scale 2</value>
          <value code="A22">New answer scale 2</value>
          <value code="A23">Third answer scale 2</value>
          <value code="A24">Last answer scale 2</value>
        </values>
      </variable>
      <variable ident="114" type="single" format="literal">
        <name>dual_SQ04_0</name>
        <label>Array dual scale (Last subquestion)(Scale 1)</label>
        <position start="4335" finish="4339"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="115" type="single" format="literal">
        <name>dual_SQ04_1</name>
        <label>Array dual scale (Last subquestion)(Scale 2)</label>
        <position start="4340" finish="4344"/>
        <values>
          <value code="A21">Some example answer scale 2</value>
          <value code="A22">New answer scale 2</value>
          <value code="A23">Third answer scale 2</value>
          <value code="A24">Last answer scale 2</value>
        </values>
      </variable>
      <variable ident="116" type="single" format="literal">
        <name>q12_SQ01_0</name>
        <label>Array dual scale (dropdown) (Some example subquestion)(Scale 1)</label>
        <position start="4345" finish="4349"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="117" type="single" format="literal">
        <name>q12_SQ01_1</name>
        <label>Array dual scale (dropdown) (Some example subquestion)(Scale 2)</label>
        <position start="4350" finish="4354"/>
        <values>
          <value code="A21">Some example answer - scale 2</value>
          <value code="A22">New answer - scale 2</value>
          <value code="A23">Third answer - scale 2</value>
          <value code="A24">Last answer - scale 2</value>
        </values>
      </variable>
      <variable ident="118" type="single" format="literal">
        <name>q12_SQ02_0</name>
        <label>Array dual scale (dropdown) (New answer subquestion)(Scale 1)</label>
        <position start="4355" finish="4359"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="119" type="single" format="literal">
        <name>q12_SQ02_1</name>
        <label>Array dual scale (dropdown) (New answer subquestion)(Scale 2)</label>
        <position start="4360" finish="4364"/>
        <values>
          <value code="A21">Some example answer - scale 2</value>
          <value code="A22">New answer - scale 2</value>
          <value code="A23">Third answer - scale 2</value>
          <value code="A24">Last answer - scale 2</value>
        </values>
      </variable>
      <variable ident="120" type="single" format="literal">
        <name>q12_SQ03_0</name>
        <label>Array dual scale (dropdown) (Third subquestion)(Scale 1)</label>
        <position start="4365" finish="4369"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="121" type="single" format="literal">
        <name>q12_SQ03_1</name>
        <label>Array dual scale (dropdown) (Third subquestion)(Scale 2)</label>
        <position start="4370" finish="4374"/>
        <values>
          <value code="A21">Some example answer - scale 2</value>
          <value code="A22">New answer - scale 2</value>
          <value code="A23">Third answer - scale 2</value>
          <value code="A24">Last answer - scale 2</value>
        </values>
      </variable>
      <variable ident="122" type="single" format="literal">
        <name>q12_SQ04_0</name>
        <label>Array dual scale (dropdown) (Last subquestion)(Scale 1)</label>
        <position start="4375" finish="4379"/>
        <values>
          <value code="A11">Some example answer option - scale 1</value>
          <value code="A12">New answer option - scale 1</value>
          <value code="A13">Third answer option - scale 1</value>
          <value code="A14">Last answer option - scale 1</value>
        </values>
      </variable>
      <variable ident="123" type="single" format="literal">
        <name>q12_SQ04_1</name>
        <label>Array dual scale (dropdown) (Last subquestion)(Scale 2)</label>
        <position start="4380" finish="4384"/>
        <values>
          <value code="A21">Some example answer - scale 2</value>
          <value code="A22">New answer - scale 2</value>
          <value code="A23">Third answer - scale 2</value>
          <value code="A24">Last answer - scale 2</value>
        </values>
      </variable>
      <variable ident="124" type="quantity">
        <name>AN_SQY01_SQX01</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Some example subquestion - Y-scale)(Some example subquestion - X-Scale)</label>
        <position start="4385" finish="4386"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="125" type="quantity">
        <name>AN_SQY01_SQX02</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Some example subquestion - Y-scale)(New answer subquestion - X-Scale)</label>
        <position start="4387" finish="4388"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="126" type="quantity">
        <name>AN_SQY01_SQX03</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Some example subquestion - Y-scale)(Third subquestion - X-Scale)</label>
        <position start="4389" finish="4390"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="127" type="quantity">
        <name>AN_SQY01_SQX04</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Some example subquestion - Y-scale)(Last subquestion - X-Scale)</label>
        <position start="4391" finish="4392"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="128" type="quantity">
        <name>AN_SQY02_SQX01</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (New answer subquestion - Y-scale)(Some example subquestion - X-Scale)</label>
        <position start="4393" finish="4394"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="129" type="quantity">
        <name>AN_SQY02_SQX02</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (New answer subquestion - Y-scale)(New answer subquestion - X-Scale)</label>
        <position start="4395" finish="4396"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="130" type="quantity">
        <name>AN_SQY02_SQX03</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (New answer subquestion - Y-scale)(Third subquestion - X-Scale)</label>
        <position start="4397" finish="4398"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="131" type="quantity">
        <name>AN_SQY02_SQX04</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (New answer subquestion - Y-scale)(Last subquestion - X-Scale)</label>
        <position start="4399" finish="4400"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="132" type="quantity">
        <name>AN_SQY03_SQX01</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Third subquestion - Y-scale)(Some example subquestion - X-Scale)</label>
        <position start="4401" finish="4402"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="133" type="quantity">
        <name>AN_SQY03_SQX02</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Third subquestion - Y-scale)(New answer subquestion - X-Scale)</label>
        <position start="4403" finish="4404"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="134" type="quantity">
        <name>AN_SQY03_SQX03</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Third subquestion - Y-scale)(Third subquestion - X-Scale)</label>
        <position start="4405" finish="4406"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="135" type="quantity">
        <name>AN_SQY03_SQX04</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Third subquestion - Y-scale)(Last subquestion - X-Scale)</label>
        <position start="4407" finish="4408"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="136" type="quantity">
        <name>AN_SQY04_SQX01</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Last subquestion - Y-scale)(Some example subquestion - X-Scale)</label>
        <position start="4409" finish="4410"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="137" type="quantity">
        <name>AN_SQY04_SQX02</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Last subquestion - Y-scale)(New answer subquestion - X-Scale)</label>
        <position start="4411" finish="4412"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="138" type="quantity">
        <name>AN_SQY04_SQX03</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Last subquestion - Y-scale)(Third subquestion - X-Scale)</label>
        <position start="4413" finish="4414"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="139" type="quantity">
        <name>AN_SQY04_SQX04</name>
        <label>Array number ( Minimum: -2, Maximum: 2, step : 2) (Last subquestion - Y-scale)(Last subquestion - X-Scale)</label>
        <position start="4415" finish="4416"/>
        <values>
          <range from="-2" to="2"/>
        </values>
      </variable>
      <variable ident="140" type="logical">
        <name>M_SQ01</name>
        <label>Multiple options (Some example subquestion)</label>
        <position start="4417" finish="4417"/>
      </variable>
      <variable ident="141" type="logical">
        <name>M_SQ02</name>
        <label>Multiple options (New answer subquestion)</label>
        <position start="4418" finish="4418"/>
      </variable>
      <variable ident="142" type="logical">
        <name>M_SQ03</name>
        <label>Multiple options (Third subquestion)</label>
        <position start="4419" finish="4419"/>
      </variable>
      <variable ident="143" type="logical">
        <name>M_SQ04</name>
        <label>Multiple options (Last subquestion)</label>
        <position start="4420" finish="4420"/>
      </variable>
      <variable ident="144" type="logical">
        <name>M_other</name>
        <label>Multiple options (Other)</label>
        <position start="4421" finish="4421"/>
      </variable>
      <variable ident="145" type="character">
        <name>M_other.text</name>
        <label>Multiple options (Other)</label>
        <position start="4422" finish="4461"/>
        <size>40</size>
      </variable>
      <variable ident="146" type="logical">
        <name>moe_SQ01</name>
        <label>Multiple option (with exclusive option) (Some example subquestion)</label>
        <position start="4462" finish="4462"/>
      </variable>
      <variable ident="147" type="logical">
        <name>moe_SQ02</name>
        <label>Multiple option (with exclusive option) (New answer subquestion)</label>
        <position start="4463" finish="4463"/>
      </variable>
      <variable ident="148" type="logical">
        <name>moe_SQ03</name>
        <label>Multiple option (with exclusive option) (Third subquestion)</label>
        <position start="4464" finish="4464"/>
      </variable>
      <variable ident="149" type="logical">
        <name>moe_SQ04</name>
        <label>Multiple option (with exclusive option) (Last subquestion)</label>
        <position start="4465" finish="4465"/>
      </variable>
      <variable ident="150" type="logical">
        <name>moe_SQ05</name>
        <label>Multiple option (with exclusive option) (Exclusive option)</label>
        <position start="4466" finish="4466"/>
      </variable>
      <variable ident="151" type="logical">
        <name>K_SQ001</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (LimeSurvey is great because)</label>
        <position start="4467" finish="4467"/>
      </variable>
      <variable ident="152" type="character">
        <name>K_SQ001comment</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (Comment)</label>
        <position start="4468" finish="4507"/>
        <size>40</size>
      </variable>
      <variable ident="153" type="logical">
        <name>K_SQ002</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (LimeSurvey is best than)</label>
        <position start="4508" finish="4508"/>
      </variable>
      <variable ident="154" type="character">
        <name>K_SQ002comment</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (Comment)</label>
        <position start="4509" finish="4548"/>
        <size>40</size>
      </variable>
      <variable ident="155" type="logical">
        <name>K_SQ003</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (LimeSurvey is beautiful like)</label>
        <position start="4549" finish="4549"/>
      </variable>
      <variable ident="156" type="character">
        <name>K_SQ003comment</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (Comment)</label>
        <position start="4550" finish="4589"/>
        <size>40</size>
      </variable>
      <variable ident="157" type="logical">
        <name>K_SQ004</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (LimeSurvey is easy like)</label>
        <position start="4590" finish="4590"/>
      </variable>
      <variable ident="158" type="character">
        <name>K_SQ004comment</name>
        <label>Multiple option with comments (default answers and 1 Minimum Answer) (Comment)</label>
        <position start="4591" finish="4630"/>
        <size>40</size>
      </variable>
      <variable ident="159" type="logical">
        <name>arn_SQY01_SQX01</name>
        <label>Array Numbers (Checkbox layout) (Some example subquestion - Y Scale)(Some example subquestion - X-Scale)</label>
        <position start="4631" finish="4631"/>
      </variable>
      <variable ident="160" type="logical">
        <name>arn_SQY01_SQX02</name>
        <label>Array Numbers (Checkbox layout) (Some example subquestion - Y Scale)(New answer subquestion - X-Scale)</label>
        <position start="4632" finish="4632"/>
      </variable>
      <variable ident="161" type="logical">
        <name>arn_SQY01_SQX03</name>
        <label>Array Numbers (Checkbox layout) (Some example subquestion - Y Scale)(Third subquestion - X-Scale)</label>
        <position start="4633" finish="4633"/>
      </variable>
      <variable ident="162" type="logical">
        <name>arn_SQY01_SQX04</name>
        <label>Array Numbers (Checkbox layout) (Some example subquestion - Y Scale)(Last subquestion - X-Scale)</label>
        <position start="4634" finish="4634"/>
      </variable>
      <variable ident="163" type="logical">
        <name>arn_SQY02_SQX01</name>
        <label>Array Numbers (Checkbox layout) (New answer subquestion - Y Scale)(Some example subquestion - X-Scale)</label>
        <position start="4635" finish="4635"/>
      </variable>
      <variable ident="164" type="logical">
        <name>arn_SQY02_SQX02</name>
        <label>Array Numbers (Checkbox layout) (New answer subquestion - Y Scale)(New answer subquestion - X-Scale)</label>
        <position start="4636" finish="4636"/>
      </variable>
      <variable ident="165" type="logical">
        <name>arn_SQY02_SQX03</name>
        <label>Array Numbers (Checkbox layout) (New answer subquestion - Y Scale)(Third subquestion - X-Scale)</label>
        <position start="4637" finish="4637"/>
      </variable>
      <variable ident="166" type="logical">
        <name>arn_SQY02_SQX04</name>
        <label>Array Numbers (Checkbox layout) (New answer subquestion - Y Scale)(Last subquestion - X-Scale)</label>
        <position start="4638" finish="4638"/>
      </variable>
      <variable ident="167" type="logical">
        <name>arn_SQY03_SQX01</name>
        <label>Array Numbers (Checkbox layout) (Third subquestion - Y Scale)(Some example subquestion - X-Scale)</label>
        <position start="4639" finish="4639"/>
      </variable>
      <variable ident="168" type="logical">
        <name>arn_SQY03_SQX02</name>
        <label>Array Numbers (Checkbox layout) (Third subquestion - Y Scale)(New answer subquestion - X-Scale)</label>
        <position start="4640" finish="4640"/>
      </variable>
      <variable ident="169" type="logical">
        <name>arn_SQY03_SQX03</name>
        <label>Array Numbers (Checkbox layout) (Third subquestion - Y Scale)(Third subquestion - X-Scale)</label>
        <position start="4641" finish="4641"/>
      </variable>
      <variable ident="170" type="logical">
        <name>arn_SQY03_SQX04</name>
        <label>Array Numbers (Checkbox layout) (Third subquestion - Y Scale)(Last subquestion - X-Scale)</label>
        <position start="4642" finish="4642"/>
      </variable>
      <variable ident="171" type="logical">
        <name>arn_SQY04_SQX01</name>
        <label>Array Numbers (Checkbox layout) (Last subquestion - Y Scale)(Some example subquestion - X-Scale)</label>
        <position start="4643" finish="4643"/>
      </variable>
      <variable ident="172" type="logical">
        <name>arn_SQY04_SQX02</name>
        <label>Array Numbers (Checkbox layout) (Last subquestion - Y Scale)(New answer subquestion - X-Scale)</label>
        <position start="4644" finish="4644"/>
      </variable>
      <variable ident="173" type="logical">
        <name>arn_SQY04_SQX03</name>
        <label>Array Numbers (Checkbox layout) (Last subquestion - Y Scale)(Third subquestion - X-Scale)</label>
        <position start="4645" finish="4645"/>
      </variable>
      <variable ident="174" type="logical">
        <name>arn_SQY04_SQX04</name>
        <label>Array Numbers (Checkbox layout) (Last subquestion - Y Scale)(Last subquestion - X-Scale)</label>
        <position start="4646" finish="4646"/>
      </variable>
      <variable ident="175" type="single" format="literal">
        <name>R_1</name>
        <label>Ranking (Rank 1)</label>
        <position start="4647" finish="4651"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="176" type="single" format="literal">
        <name>R_2</name>
        <label>Ranking (Rank 2)</label>
        <position start="4652" finish="4656"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="177" type="single" format="literal">
        <name>R_3</name>
        <label>Ranking (Rank 3)</label>
        <position start="4657" finish="4661"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="178" type="single" format="literal">
        <name>R_4</name>
        <label>Ranking (Rank 4)</label>
        <position start="4662" finish="4666"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="179" type="single" format="literal">
        <name>R1_1</name>
        <label>Ranking (minimum and maximum answer) (Rank 1)</label>
        <position start="4667" finish="4671"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="180" type="single" format="literal">
        <name>R1_2</name>
        <label>Ranking (minimum and maximum answer) (Rank 2)</label>
        <position start="4672" finish="4676"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="181" type="single" format="literal">
        <name>R1_3</name>
        <label>Ranking (minimum and maximum answer) (Rank 3)</label>
        <position start="4677" finish="4681"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="182" type="single" format="literal">
        <name>R1_4</name>
        <label>Ranking (minimum and maximum answer) (Rank 4)</label>
        <position start="4682" finish="4686"/>
        <values>
          <value code="A1">Some example answer option</value>
          <value code="A2">New answer option</value>
          <value code="A3">Third answer option</value>
          <value code="A4">Last answer option</value>
        </values>
      </variable>
      <variable ident="183" type="single" format="literal">
        <name>QC</name>
        <label>A Yes/No non mandatory question to show or hide next question. </label>
        <position start="4687" finish="4687"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
        </values>
      </variable>
      <variable ident="184" type="logical">
        <name>QCS1_SH101</name>
        <label>For complex condition , you can use scenario. (display question 1)</label>
        <position start="4688" finish="4688"/>
      </variable>
      <variable ident="185" type="logical">
        <name>QCS1_SH102</name>
        <label>For complex condition , you can use scenario. (display question 2)</label>
        <position start="4689" finish="4689"/>
      </variable>
      <variable ident="186" type="logical">
        <name>QCS2_SQ201</name>
        <label>Display question 1 and 2 under condition. (Display question 1)</label>
        <position start="4690" finish="4690"/>
      </variable>
      <variable ident="187" type="logical">
        <name>QCS2_SQ202</name>
        <label>Display question 1 and 2 under condition. (Display question 2)</label>
        <position start="4691" finish="4691"/>
      </variable>
      <variable ident="188" type="single" format="literal">
        <name>QCS3</name>
        <label>Hide question 1 and 2 even if you select display an previous question. </label>
        <position start="4692" finish="4692"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
        </values>
      </variable>
      <variable ident="189" type="logical">
        <name>AF_SQ01</name>
        <label>You can filter some question with a multi choice option. (Some example subquestion)</label>
        <position start="4693" finish="4693"/>
      </variable>
      <variable ident="190" type="logical">
        <name>AF_SQ02</name>
        <label>You can filter some question with a multi choice option. (New answer subquestion)</label>
        <position start="4694" finish="4694"/>
      </variable>
      <variable ident="191" type="logical">
        <name>AF_SQ03</name>
        <label>You can filter some question with a multi choice option. (Third subquestion)</label>
        <position start="4695" finish="4695"/>
      </variable>
      <variable ident="192" type="logical">
        <name>AF_SQ04</name>
        <label>You can filter some question with a multi choice option. (Last subquestion)</label>
        <position start="4696" finish="4696"/>
      </variable>
      <variable ident="193" type="single" format="literal">
        <name>FAF_SQ01</name>
        <label>Filtered array with previous question. (Some example subquestion)</label>
        <position start="4697" finish="4697"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="194" type="single" format="literal">
        <name>FAF_SQ02</name>
        <label>Filtered array with previous question. (New answer subquestion)</label>
        <position start="4698" finish="4698"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="195" type="single" format="literal">
        <name>FAF_SQ03</name>
        <label>Filtered array with previous question. (Third subquestion)</label>
        <position start="4699" finish="4699"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="196" type="single" format="literal">
        <name>FAF_SQ04</name>
        <label>Filtered array with previous question. (Last subquestion)</label>
        <position start="4700" finish="4700"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="197" type="single" format="literal">
        <name>FAFE_SQ01</name>
        <label>You can exclude some option with Array Filter Exclusion. (Some example subquestion)</label>
        <position start="4701" finish="4701"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="198" type="single" format="literal">
        <name>FAFE_SQ02</name>
        <label>You can exclude some option with Array Filter Exclusion. (New answer subquestion)</label>
        <position start="4702" finish="4702"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="199" type="single" format="literal">
        <name>FAFE_SQ03</name>
        <label>You can exclude some option with Array Filter Exclusion. (Third subquestion)</label>
        <position start="4703" finish="4703"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
      <variable ident="200" type="single" format="literal">
        <name>FAFE_SQ04</name>
        <label>You can exclude some option with Array Filter Exclusion. (Last subquestion)</label>
        <position start="4704" finish="4704"/>
        <values>
          <value code="Y">Yes</value>
          <value code="N">No</value>
          <value code="U">Uncertain</value>
        </values>
      </variable>
    </record>
  </survey>
</sss>

