<sss version="2.0" modes="interview analysis" languages="">
  <date>2015-08-05</date>
  <time>12:23</time>
  <origin>MIPro Data Model</origin>
  <survey>
    <record ident="RECID" format="csv" data-file-encoding="UTF-8" skip="1" xmlns:sssext="urn:schemas.gmi-mr.com:/Triple-S/2006/Triple-S-Extensions-1.0">
      <variable ident="1" type="character">
        <name>MIProRspId</name>
        <label>
          <text>MI Pro Respondent Id</text>
        </label>
        <position start="1" />
        <size>
        </size>
      </variable>
      <variable ident="2" type="character">
        <name>AltIdString</name>
        <label>
          <text>MI Pro Alternative Id (string)</text>
        </label>
        <position start="2" />
        <size>
        </size>
      </variable>
      <variable ident="3" type="quantity">
        <name>AltIdNumeric</name>
        <label>
          <text>MI Pro Alternative Id (numeric)</text>
        </label>
        <position start="3" />
        <values>
          <range from="-2147483648" to="2147483647 " />
        </values>
      </variable>
      <variable ident="4" type="quantity">
        <name>AdateF1</name>
        <label>
          <text>Date</text>
        </label>
        <position start="4" />
        <values>
          <range from="000000000" to="999999999" />
        </values>
      </variable>
      <variable ident="5" type="quantity">
        <name>AtimeF1</name>
        <label>
          <text>Time start</text>
        </label>
        <position start="5" />
        <values>
          <range from="000000000" to="999999999" />
        </values>
      </variable>
      <variable ident="6" type="character">
        <name>AacN1.1</name>
        <label>
          <text>mvid MVID</text>
        </label>
        <position start="6" />
        <size>60</size>
      </variable>
      <variable ident="7" type="quantity">
        <name>AstudyF1</name>
        <label>
          <text>study Study no</text>
        </label>
        <position start="7" />
        <values>
          <range from="000000000" to="999999999" />
        </values>
      </variable>
      <variable ident="8" type="character">
        <name>AaltidN1.1</name>
        <label>
          <text>altid</text>
        </label>
        <position start="8" />
        <size>60</size>
      </variable>
      <variable ident="9" type="character">
        <name>AlangN1.1</name>
        <label>
          <text>Language</text>
        </label>
        <position start="9" />
        <size>60</size>
      </variable>
      <variable ident="10" type="character">
        <name>ASysInfo1M1.1</name>
        <label>
          <text>System Info from Data Collection System Browser</text>
        </label>
        <position start="10" />
        <size>60</size>
      </variable>
      <variable ident="11" type="character">
        <name>ASysInfo1M1.2</name>
        <label>
          <text>System Info from Data Collection System OS</text>
        </label>
        <position start="11" />
        <size>60</size>
      </variable>
      <variable ident="12" type="character">
        <name>ASysInfo1M1.3</name>
        <label>
          <text>System Info from Data Collection System Referer</text>
        </label>
        <position start="12" />
        <size>60</size>
      </variable>
      <variable ident="13" type="character">
        <name>ASysInfo1M1.4</name>
        <label>
          <text>System Info from Data Collection System User Agent</text>
        </label>
        <position start="13" />
        <size>60</size>
      </variable>
      <variable ident="14" type="character">
        <name>ASysInfo1M1.5</name>
        <label>
          <text>System Info from Data Collection System IP Address</text>
        </label>
        <position start="14" />
        <size>60</size>
      </variable>
      <variable ident="15" type="single">
        <name>AA01N1</name>
        <label>
          <text>What is your preferred language for taking surveys?</text>
        </label>
        <position start="15" />
        <values>
          <value code="1">
            <text>English</text>
          </value>
          <value code="2">
            <text>Arabic</text>
          </value>
          <value code="3">
            <text>Persian</text>
          </value>
          <value code="4">
            <text>Hindi</text>
          </value>
          <value code="5">
            <text>Malayalam</text>
          </value>
          <value code="6">
            <text>Tamil</text>
          </value>
          <value code="7">
            <text>Urdu</text>
          </value>
          <value code="8">
            <text>Bengali</text>
          </value>
          <value code="9">
            <text>Tagalog</text>
          </value>
          <value code="10">
            <text>Sinhala</text>
          </value>
          <value code="11">
            <text>Bahasa Indonesian</text>
          </value>
        </values>
      </variable>
      <variable ident="16" type="character">
        <name>ASysInfo2_1M1.1</name>
        <label>
          <text> Browser Name</text>
        </label>
        <position start="16" />
        <size>60</size>
      </variable>
      <variable ident="17" type="character">
        <name>ASysInfo2_1M1.2</name>
        <label>
          <text> Full Version</text>
        </label>
        <position start="17" />
        <size>60</size>
      </variable>
      <variable ident="18" type="character">
        <name>ASysInfo2_1M1.3</name>
        <label>
          <text> Major Version</text>
        </label>
        <position start="18" />
        <size>60</size>
      </variable>
      <variable ident="19" type="character">
        <name>ASysInfo2_1M1.4</name>
        <label>
          <text> appName</text>
        </label>
        <position start="19" />
        <size>60</size>
      </variable>
      <variable ident="20" type="character">
        <name>ASysInfo2_1M1.5</name>
        <label>
          <text> userAgent</text>
        </label>
        <position start="20" />
        <size>60</size>
      </variable>
      <variable ident="21" type="character">
        <name>ASysInfo2_1M1.6</name>
        <label>
          <text> Platform</text>
        </label>
        <position start="21" />
        <size>60</size>
      </variable>
      <variable ident="22" type="character">
        <name>ASysInfo2_1M1.7</name>
        <label>
          <text> Screen Resolution</text>
        </label>
        <position start="22" />
        <size>60</size>
      </variable>
      <variable ident="23" type="character">
        <name>ASysInfo2_1M1.8</name>
        <label>
          <text> Screen Colour Depth</text>
        </label>
        <position start="23" />
        <size>60</size>
      </variable>
      <variable ident="24" type="character">
        <name>ASysInfo2_1M1.9</name>
        <label>
          <text> Mobile</text>
        </label>
        <position start="24" />
        <size>60</size>
      </variable>
      <variable ident="25" type="single">
        <name>AA02N1</name>
        <label>
          <text>Which of the following countries do you currently live in?</text>
        </label>
        <position start="25" />
        <values>
          <value code="1">
            <text>Egypt</text>
          </value>
          <value code="2">
            <text>Iraq</text>
          </value>
          <value code="3">
            <text>Jordan</text>
          </value>
          <value code="4">
            <text>Kuwait</text>
          </value>
          <value code="5">
            <text>Lebanon</text>
          </value>
          <value code="6">
            <text>Morocco</text>
          </value>
          <value code="7">
            <text>Oman</text>
          </value>
          <value code="8">
            <text>Palestine</text>
          </value>
          <value code="9">
            <text>Qatar</text>
          </value>
          <value code="10">
            <text>Saudi Arabia</text>
          </value>
          <value code="11">
            <text>United Arab Emirates</text>
          </value>
          <value code="12">
            <text>Yemen</text>
          </value>
          <value code="13">
            <text>Other</text>
          </value>
        </values>
      </variable>
      <variable ident="26" type="single">
        <name>AA03N1</name>
        <label>
          <text>In which city / region do you currently live?</text>
        </label>
        <position start="26" />
        <values>
          <value code="1">
            <text>Al Sharqia</text>
          </value>
          <value code="2">
            <text>Alexandria</text>
          </value>
          <value code="3">
            <text>Aswan</text>
          </value>
          <value code="4">
            <text>Asyut</text>
          </value>
          <value code="5">
            <text>Beheira</text>
          </value>
          <value code="6">
            <text>Beni Suef</text>
          </value>
          <value code="7">
            <text>Dakahlia</text>
          </value>
          <value code="8">
            <text>Damietta</text>
          </value>
          <value code="9">
            <text>Faiyum</text>
          </value>
          <value code="10">
            <text>Gharbia</text>
          </value>
          <value code="11">
            <text>Giza</text>
          </value>
          <value code="12">
            <text>Ismailia</text>
          </value>
          <value code="13">
            <text>Kafr el-Sheikh</text>
          </value>
          <value code="14">
            <text>Luxor</text>
          </value>
          <value code="15">
            <text>Minya</text>
          </value>
          <value code="16">
            <text>Monufia</text>
          </value>
          <value code="17">
            <text>Port Said</text>
          </value>
          <value code="18">
            <text>Qalyubia</text>
          </value>
          <value code="19">
            <text>Qena</text>
          </value>
          <value code="20">
            <text>Sohag</text>
          </value>
          <value code="21">
            <text>Suez</text>
          </value>
          <value code="22">
            <text>Al Anbar</text>
          </value>
          <value code="23">
            <text>Al-Qādisiyyah</text>
          </value>
          <value code="24">
            <text>Babil</text>
          </value>
          <value code="25">
            <text>Baghdad</text>
          </value>
          <value code="26">
            <text>Basra</text>
          </value>
          <value code="27">
            <text>Dhi Qar</text>
          </value>
          <value code="28">
            <text>Diyala</text>
          </value>
          <value code="29">
            <text>Dohuk</text>
          </value>
          <value code="30">
            <text>Erbil</text>
          </value>
          <value code="31">
            <text>Halabja</text>
          </value>
          <value code="32">
            <text>Karbala</text>
          </value>
          <value code="33">
            <text>Kirkuk</text>
          </value>
          <value code="34">
            <text>Maysan</text>
          </value>
          <value code="35">
            <text>Muthanna</text>
          </value>
          <value code="36">
            <text>Najaf</text>
          </value>
          <value code="37">
            <text>Nineveh</text>
          </value>
          <value code="38">
            <text>Saladin</text>
          </value>
          <value code="39">
            <text>Sulaymaniyah</text>
          </value>
          <value code="40">
            <text>Wasit</text>
          </value>
          <value code="41">
            <text>Ajloun</text>
          </value>
          <value code="42">
            <text>Amman</text>
          </value>
          <value code="43">
            <text>Aqaba</text>
          </value>
          <value code="44">
            <text>Balqa</text>
          </value>
          <value code="45">
            <text>Irbid</text>
          </value>
          <value code="46">
            <text>Jerash</text>
          </value>
          <value code="47">
            <text>Karak</text>
          </value>
          <value code="48">
            <text>Ma'an</text>
          </value>
          <value code="49">
            <text>Madaba</text>
          </value>
          <value code="50">
            <text>Mafraq</text>
          </value>
          <value code="51">
            <text>Zarqa</text>
          </value>
          <value code="52">
            <text>Hawalli</text>
          </value>
          <value code="53">
            <text>Al Asimah</text>
          </value>
          <value code="54">
            <text>Al Farwaniyah</text>
          </value>
          <value code="55">
            <text>Al Jahra</text>
          </value>
          <value code="56">
            <text>Al Ahmadi</text>
          </value>
          <value code="57">
            <text>Mubarak Al-Kabeer</text>
          </value>
          <value code="58">
            <text>Baabda</text>
          </value>
          <value code="59">
            <text>Beirut</text>
          </value>
          <value code="60">
            <text>Nabatiye</text>
          </value>
          <value code="61">
            <text>Sidon</text>
          </value>
          <value code="62">
            <text>Tripoli</text>
          </value>
          <value code="63">
            <text>Zahleh</text>
          </value>
          <value code="64">
            <text>Beni Mellal-Khenifra</text>
          </value>
          <value code="65">
            <text>Dakhla-Oued Addahab</text>
          </value>
          <value code="66">
            <text>Drâa-Tafilalt</text>
          </value>
          <value code="67">
            <text>El Aiun-Saguia al Hamra</text>
          </value>
          <value code="68">
            <text>Fes-Meknes</text>
          </value>
          <value code="69">
            <text>Guelmim-Oued Noun</text>
          </value>
          <value code="70">
            <text>Marrakech-Safi</text>
          </value>
          <value code="71">
            <text>Oriental-Rif</text>
          </value>
          <value code="72">
            <text>Rabat-Sale-Kenitra</text>
          </value>
          <value code="73">
            <text>Settat-Casablanca</text>
          </value>
          <value code="74">
            <text>Souss-Massa</text>
          </value>
          <value code="75">
            <text>Tangier-Tétouan</text>
          </value>
          <value code="76">
            <text>Ad Dakhiliyah</text>
          </value>
          <value code="77">
            <text>Ad Dhahirah</text>
          </value>
          <value code="78">
            <text>Al Batinah</text>
          </value>
          <value code="79">
            <text>Al Buraymi</text>
          </value>
          <value code="80">
            <text>Al Wusta</text>
          </value>
          <value code="81">
            <text>Ash Sharqiyah</text>
          </value>
          <value code="82">
            <text>Dhofar</text>
          </value>
          <value code="83">
            <text>Musandam</text>
          </value>
          <value code="84">
            <text>Muscat</text>
          </value>
          <value code="85">
            <text>Bethlehem</text>
          </value>
          <value code="86">
            <text>Hebron</text>
          </value>
          <value code="87">
            <text>Jenin</text>
          </value>
          <value code="88">
            <text>Jericho</text>
          </value>
          <value code="89">
            <text>Jerusalem</text>
          </value>
          <value code="90">
            <text>Nablus</text>
          </value>
          <value code="91">
            <text>Qalqilya</text>
          </value>
          <value code="92">
            <text>Ramallah and Al-Bireh</text>
          </value>
          <value code="93">
            <text>Salfit</text>
          </value>
          <value code="94">
            <text>Tubas</text>
          </value>
          <value code="95">
            <text>Tulkarm</text>
          </value>
          <value code="96">
            <text>Al Daayen</text>
          </value>
          <value code="97">
            <text>Al Khor</text>
          </value>
          <value code="98">
            <text>Al Rayyan</text>
          </value>
          <value code="99">
            <text>Al Wakrah</text>
          </value>
          <value code="100">
            <text>Doha</text>
          </value>
          <value code="101">
            <text>Madinat ash Shamal</text>
          </value>
          <value code="102">
            <text>Umm Salal</text>
          </value>
          <value code="103">
            <text>Al Bahah</text>
          </value>
          <value code="104">
            <text>Al Hudud ash Shamaliyah</text>
          </value>
          <value code="105">
            <text>Al Jawf</text>
          </value>
          <value code="106">
            <text>Al Madinah Al Monawarah</text>
          </value>
          <value code="107">
            <text>Al Makkah Al Mokarramah</text>
          </value>
          <value code="108">
            <text>Al Riyadh</text>
          </value>
          <value code="109">
            <text>Al-Qassim</text>
          </value>
          <value code="110">
            <text>Ash Sharqiyah</text>
          </value>
          <value code="111">
            <text>Asir</text>
          </value>
          <value code="112">
            <text>Ha'il</text>
          </value>
          <value code="113">
            <text>Jizan</text>
          </value>
          <value code="114">
            <text>Najran</text>
          </value>
          <value code="115">
            <text>Tabuk</text>
          </value>
          <value code="116">
            <text>Abu Dhabi</text>
          </value>
          <value code="117">
            <text>Ajman</text>
          </value>
          <value code="118">
            <text>Dubai</text>
          </value>
          <value code="119">
            <text>Fujairah</text>
          </value>
          <value code="120">
            <text>Ras al-Khaimah</text>
          </value>
          <value code="121">
            <text>Sharjah</text>
          </value>
          <value code="122">
            <text>Umm al-Quwain</text>
          </value>
          <value code="123">
            <text>Abyan</text>
          </value>
          <value code="124">
            <text>Ad Dali'</text>
          </value>
          <value code="125">
            <text>Adan</text>
          </value>
          <value code="126">
            <text>Al Bayda'</text>
          </value>
          <value code="127">
            <text>Al Hudaydah</text>
          </value>
          <value code="128">
            <text>Al Jawf</text>
          </value>
          <value code="129">
            <text>Al Mahrah</text>
          </value>
          <value code="130">
            <text>Al Mahwit</text>
          </value>
          <value code="131">
            <text>Amanat Al Asimah</text>
          </value>
          <value code="132">
            <text>Amran</text>
          </value>
          <value code="133">
            <text>Dhamar</text>
          </value>
          <value code="134">
            <text>Hadramaut</text>
          </value>
          <value code="135">
            <text>Hajjah</text>
          </value>
          <value code="136">
            <text>Ibb</text>
          </value>
          <value code="137">
            <text>Lahij</text>
          </value>
          <value code="138">
            <text>Ma'rib</text>
          </value>
          <value code="139">
            <text>Raymah</text>
          </value>
          <value code="140">
            <text>Sa'dah</text>
          </value>
          <value code="141">
            <text>Sana'a</text>
          </value>
          <value code="142">
            <text>Shabwah</text>
          </value>
          <value code="143">
            <text>Ta'izz</text>
          </value>
          <value code="144">
            <text>Other</text>
          </value>
        </values>
      </variable>
      <variable ident="27" type="single">
        <name>AA04N1</name>
        <label>
          <text>Which best describes the area that you live in?</text>
        </label>
        <position start="27" />
        <values>
          <value code="1">
            <text>Urban</text>
          </value>
          <value code="2">
            <text>Rural</text>
          </value>
        </values>
      </variable>
      <variable ident="28" type="single">
        <name>AA05N1</name>
        <label>
          <text>Were you born in the country that you now live?</text>
        </label>
        <position start="28" />
        <values>
          <value code="1">
            <text>Yes</text>
          </value>
          <value code="2">
            <text>No</text>
          </value>
        </values>
      </variable>
      <variable ident="29" type="single">
        <name>AA06N1</name>
        <label>
          <text>In which region were you born?</text>
        </label>
        <position start="29" />
        <values>
          <value code="1">
            <text>Europe (excluding Russia and Turkey)</text>
          </value>
          <value code="2">
            <text>Asia (excluding Russia and Turkey)</text>
          </value>
          <value code="3">
            <text>Africa / Middle East</text>
          </value>
          <value code="4">
            <text>USA / Canada</text>
          </value>
          <value code="5">
            <text>South America / Mexico</text>
          </value>
          <value code="6">
            <text>Australia / New Zealand</text>
          </value>
          <value code="7">
            <text>Russia</text>
          </value>
          <value code="8">
            <text>Turkey</text>
          </value>
          <value code="9">
            <text>Other</text>
          </value>
        </values>
      </variable>
      <variable ident="30" type="single">
        <name>AA07N1</name>
        <label>
          <text>In which country were you born?</text>
        </label>
        <position start="30" />
        <values>
          <value code="1">
            <text>Afghanistan</text>
          </value>
          <value code="2">
            <text>Bangladesh</text>
          </value>
          <value code="3">
            <text>Egypt</text>
          </value>
          <value code="4">
            <text>India</text>
          </value>
          <value code="5">
            <text>Indonesia</text>
          </value>
          <value code="6">
            <text>Iran</text>
          </value>
          <value code="7">
            <text>Iraq</text>
          </value>
          <value code="8">
            <text>Jordan</text>
          </value>
          <value code="9">
            <text>Kuwait</text>
          </value>
          <value code="10">
            <text>Lebanon</text>
          </value>
          <value code="11">
            <text>Morocco</text>
          </value>
          <value code="12">
            <text>Oman</text>
          </value>
          <value code="13">
            <text>Pakistan</text>
          </value>
          <value code="14">
            <text>Palestine</text>
          </value>
          <value code="15">
            <text>Philippines</text>
          </value>
          <value code="16">
            <text>Qatar</text>
          </value>
          <value code="17">
            <text>Saudi Arabia</text>
          </value>
          <value code="18">
            <text>Sri Lanka</text>
          </value>
          <value code="19">
            <text>United Arab Emirates</text>
          </value>
          <value code="20">
            <text>Other Asian country</text>
          </value>
          <value code="21">
            <text>Other African / Middle Eastern country</text>
          </value>
        </values>
      </variable>
      <variable ident="31" type="single">
        <name>AA08N1</name>
        <label>
          <text>Are you:</text>
        </label>
        <position start="31" />
        <values>
          <value code="1">
            <text>Male</text>
          </value>
          <value code="2">
            <text>Female</text>
          </value>
        </values>
      </variable>
      <variable ident="32" type="single">
        <name>ADOBDayN1</name>
        <label>
          <text>Day</text>
        </label>
        <position start="32" />
        <values>
          <value code="1">
            <text>1</text>
          </value>
          <value code="2">
            <text>2</text>
          </value>
          <value code="3">
            <text>3</text>
          </value>
          <value code="4">
            <text>4</text>
          </value>
          <value code="5">
            <text>5</text>
          </value>
          <value code="6">
            <text>6</text>
          </value>
          <value code="7">
            <text>7</text>
          </value>
          <value code="8">
            <text>8</text>
          </value>
          <value code="9">
            <text>9</text>
          </value>
          <value code="10">
            <text>10</text>
          </value>
          <value code="11">
            <text>11</text>
          </value>
          <value code="12">
            <text>12</text>
          </value>
          <value code="13">
            <text>13</text>
          </value>
          <value code="14">
            <text>14</text>
          </value>
          <value code="15">
            <text>15</text>
          </value>
          <value code="16">
            <text>16</text>
          </value>
          <value code="17">
            <text>17</text>
          </value>
          <value code="18">
            <text>18</text>
          </value>
          <value code="19">
            <text>19</text>
          </value>
          <value code="20">
            <text>20</text>
          </value>
          <value code="21">
            <text>21</text>
          </value>
          <value code="22">
            <text>22</text>
          </value>
          <value code="23">
            <text>23</text>
          </value>
          <value code="24">
            <text>24</text>
          </value>
          <value code="25">
            <text>25</text>
          </value>
          <value code="26">
            <text>26</text>
          </value>
          <value code="27">
            <text>27</text>
          </value>
          <value code="28">
            <text>28</text>
          </value>
          <value code="29">
            <text>29</text>
          </value>
          <value code="30">
            <text>30</text>
          </value>
          <value code="31">
            <text>31</text>
          </value>
        </values>
      </variable>
      <variable ident="33" type="single">
        <name>ADOBMonthN1</name>
        <label>
          <text>Month</text>
        </label>
        <position start="33" />
        <values>
          <value code="1">
            <text>Jan</text>
          </value>
          <value code="2">
            <text>Feb</text>
          </value>
          <value code="3">
            <text>Mar</text>
          </value>
          <value code="4">
            <text>Apr</text>
          </value>
          <value code="5">
            <text>May</text>
          </value>
          <value code="6">
            <text>Jun</text>
          </value>
          <value code="7">
            <text>Jul</text>
          </value>
          <value code="8">
            <text>Aug</text>
          </value>
          <value code="9">
            <text>Sep</text>
          </value>
          <value code="10">
            <text>Oct</text>
          </value>
          <value code="11">
            <text>Nov</text>
          </value>
          <value code="12">
            <text>Dec</text>
          </value>
        </values>
      </variable>
      <variable ident="34" type="single">
        <name>ADOBYearN1</name>
        <label>
          <text>Year</text>
        </label>
        <position start="34" />
        <values>
          <value code="1">
            <text>2000</text>
          </value>
          <value code="2">
            <text>1999</text>
          </value>
          <value code="3">
            <text>1998</text>
          </value>
          <value code="4">
            <text>1997</text>
          </value>
          <value code="5">
            <text>1996</text>
          </value>
          <value code="6">
            <text>1995</text>
          </value>
          <value code="7">
            <text>1994</text>
          </value>
          <value code="8">
            <text>1993</text>
          </value>
          <value code="9">
            <text>1992</text>
          </value>
          <value code="10">
            <text>1991</text>
          </value>
          <value code="11">
            <text>1990</text>
          </value>
          <value code="12">
            <text>1989</text>
          </value>
          <value code="13">
            <text>1988</text>
          </value>
          <value code="14">
            <text>1987</text>
          </value>
          <value code="15">
            <text>1986</text>
          </value>
          <value code="16">
            <text>1985</text>
          </value>
          <value code="17">
            <text>1984</text>
          </value>
          <value code="18">
            <text>1983</text>
          </value>
          <value code="19">
            <text>1982</text>
          </value>
          <value code="20">
            <text>1981</text>
          </value>
          <value code="21">
            <text>1980</text>
          </value>
          <value code="22">
            <text>1979</text>
          </value>
          <value code="23">
            <text>1978</text>
          </value>
          <value code="24">
            <text>1977</text>
          </value>
          <value code="25">
            <text>1976</text>
          </value>
          <value code="26">
            <text>1975</text>
          </value>
          <value code="27">
            <text>1974</text>
          </value>
          <value code="28">
            <text>1973</text>
          </value>
          <value code="29">
            <text>1972</text>
          </value>
          <value code="30">
            <text>1971</text>
          </value>
          <value code="31">
            <text>1970</text>
          </value>
          <value code="32">
            <text>1969</text>
          </value>
          <value code="33">
            <text>1968</text>
          </value>
          <value code="34">
            <text>1967</text>
          </value>
          <value code="35">
            <text>1966</text>
          </value>
          <value code="36">
            <text>1965</text>
          </value>
          <value code="37">
            <text>1964</text>
          </value>
          <value code="38">
            <text>1963</text>
          </value>
          <value code="39">
            <text>1962</text>
          </value>
          <value code="40">
            <text>1961</text>
          </value>
          <value code="41">
            <text>1960</text>
          </value>
          <value code="42">
            <text>1959</text>
          </value>
          <value code="43">
            <text>1958</text>
          </value>
          <value code="44">
            <text>1957</text>
          </value>
          <value code="45">
            <text>1956</text>
          </value>
          <value code="46">
            <text>1955</text>
          </value>
          <value code="47">
            <text>1954</text>
          </value>
          <value code="48">
            <text>1953</text>
          </value>
          <value code="49">
            <text>1952</text>
          </value>
          <value code="50">
            <text>1951</text>
          </value>
          <value code="51">
            <text>1950</text>
          </value>
          <value code="52">
            <text>1949</text>
          </value>
          <value code="53">
            <text>1948</text>
          </value>
          <value code="54">
            <text>1947</text>
          </value>
          <value code="55">
            <text>1946</text>
          </value>
          <value code="56">
            <text>1945</text>
          </value>
          <value code="57">
            <text>1944</text>
          </value>
          <value code="58">
            <text>1943</text>
          </value>
          <value code="59">
            <text>1942</text>
          </value>
          <value code="60">
            <text>1941</text>
          </value>
          <value code="61">
            <text>1940</text>
          </value>
          <value code="62">
            <text>1939</text>
          </value>
          <value code="63">
            <text>1938</text>
          </value>
          <value code="64">
            <text>1937</text>
          </value>
          <value code="65">
            <text>1936</text>
          </value>
          <value code="66">
            <text>1935</text>
          </value>
          <value code="67">
            <text>1934</text>
          </value>
          <value code="68">
            <text>1933</text>
          </value>
          <value code="69">
            <text>1932</text>
          </value>
          <value code="70">
            <text>1931</text>
          </value>
          <value code="71">
            <text>1930</text>
          </value>
          <value code="72">
            <text>1929</text>
          </value>
          <value code="73">
            <text>1928</text>
          </value>
          <value code="74">
            <text>1927</text>
          </value>
          <value code="75">
            <text>1926</text>
          </value>
          <value code="76">
            <text>1925</text>
          </value>
          <value code="77">
            <text>1924</text>
          </value>
          <value code="78">
            <text>1923</text>
          </value>
          <value code="79">
            <text>1922</text>
          </value>
          <value code="80">
            <text>1921</text>
          </value>
          <value code="81">
            <text>1920</text>
          </value>
          <value code="82">
            <text>1919</text>
          </value>
          <value code="83">
            <text>1918</text>
          </value>
          <value code="84">
            <text>1917</text>
          </value>
          <value code="85">
            <text>1916</text>
          </value>
          <value code="86">
            <text>1915</text>
          </value>
          <value code="87">
            <text>1914</text>
          </value>
          <value code="88">
            <text>1913</text>
          </value>
          <value code="89">
            <text>1912</text>
          </value>
          <value code="90">
            <text>1911</text>
          </value>
          <value code="91">
            <text>1910</text>
          </value>
          <value code="92">
            <text>1909</text>
          </value>
          <value code="93">
            <text>1908</text>
          </value>
          <value code="94">
            <text>1907</text>
          </value>
          <value code="95">
            <text>1906</text>
          </value>
          <value code="96">
            <text>1905</text>
          </value>
          <value code="97">
            <text>1904</text>
          </value>
          <value code="98">
            <text>1903</text>
          </value>
          <value code="99">
            <text>1902</text>
          </value>
          <value code="100">
            <text>1901</text>
          </value>
          <value code="101">
            <text>1900</text>
          </value>
          <value code="102">
            <text>1899</text>
          </value>
          <value code="103">
            <text>1898</text>
          </value>
          <value code="104">
            <text>1897</text>
          </value>
          <value code="105">
            <text>1896</text>
          </value>
        </values>
      </variable>
      <variable ident="35" type="character">
        <name>AA09M1.1</name>
        <label>
          <text>Hidden Text Question for full DOB </text>
        </label>
        <position start="35" />
        <size>60</size>
      </variable>
      <variable ident="36" type="single">
        <name>AA10N1</name>
        <label>
          <text>Excluding yourself, how many people from the following age groups live in your household? Adults aged more than 60</text>
        </label>
        <position start="36" />
        <values>
          <value code="1">
            <text>None</text>
          </value>
          <value code="2">
            <text>1</text>
          </value>
          <value code="3">
            <text>2</text>
          </value>
          <value code="4">
            <text>3</text>
          </value>
          <value code="5">
            <text>4</text>
          </value>
          <value code="6">
            <text>5 or more</text>
          </value>
        </values>
      </variable>
      <variable ident="37" type="single">
        <name>AA10N2</name>
        <label>
          <text>Excluding yourself, how many people from the following age groups live in your household? Adults aged 30 to 60</text>
        </label>
        <position start="37" />
        <values>
          <value code="1">
            <text>None</text>
          </value>
          <value code="2">
            <text>1</text>
          </value>
          <value code="3">
            <text>2</text>
          </value>
          <value code="4">
            <text>3</text>
          </value>
          <value code="5">
            <text>4</text>
          </value>
          <value code="6">
            <text>5 or more</text>
          </value>
        </values>
      </variable>
      <variable ident="38" type="single">
        <name>AA10N3</name>
        <label>
          <text>Excluding yourself, how many people from the following age groups live in your household? Adults aged 18 to 29</text>
        </label>
        <position start="38" />
        <values>
          <value code="1">
            <text>None</text>
          </value>
          <value code="2">
            <text>1</text>
          </value>
          <value code="3">
            <text>2</text>
          </value>
          <value code="4">
            <text>3</text>
          </value>
          <value code="5">
            <text>4</text>
          </value>
          <value code="6">
            <text>5 or more</text>
          </value>
        </values>
      </variable>
      <variable ident="39" type="single">
        <name>AA10N4</name>
        <label>
          <text>Excluding yourself, how many people from the following age groups live in your household? Children aged 11-17</text>
        </label>
        <position start="39" />
        <values>
          <value code="1">
            <text>None</text>
          </value>
          <value code="2">
            <text>1</text>
          </value>
          <value code="3">
            <text>2</text>
          </value>
          <value code="4">
            <text>3</text>
          </value>
          <value code="5">
            <text>4</text>
          </value>
          <value code="6">
            <text>5 or more</text>
          </value>
        </values>
      </variable>
      <variable ident="40" type="single">
        <name>AA10N5</name>
        <label>
          <text>Excluding yourself, how many people from the following age groups live in your household? Children aged 5-10</text>
        </label>
        <position start="40" />
        <values>
          <value code="1">
            <text>None</text>
          </value>
          <value code="2">
            <text>1</text>
          </value>
          <value code="3">
            <text>2</text>
          </value>
          <value code="4">
            <text>3</text>
          </value>
          <value code="5">
            <text>4</text>
          </value>
          <value code="6">
            <text>5 or more</text>
          </value>
        </values>
      </variable>
      <variable ident="41" type="single">
        <name>AA10N6</name>
        <label>
          <text>Excluding yourself, how many people from the following age groups live in your household? Children aged 0-4</text>
        </label>
        <position start="41" />
        <values>
          <value code="1">
            <text>None</text>
          </value>
          <value code="2">
            <text>1</text>
          </value>
          <value code="3">
            <text>2</text>
          </value>
          <value code="4">
            <text>3</text>
          </value>
          <value code="5">
            <text>4</text>
          </value>
          <value code="6">
            <text>5 or more</text>
          </value>
        </values>
      </variable>
      <variable ident="42" type="single">
        <name>AA11N1</name>
        <label>
          <text>Are you the highest earner in your housheold?</text>
        </label>
        <position start="42" />
        <values>
          <value code="1">
            <text>Yes</text>
          </value>
          <value code="2">
            <text>No</text>
          </value>
        </values>
      </variable>
      <variable ident="43" type="single">
        <name>AA12N1</name>
        <label>
          <text>What is your profession?</text>
        </label>
        <position start="43" />
        <values>
          <value code="1">
            <text>Not working - housewife</text>
          </value>
          <value code="2">
            <text>Not working - student</text>
          </value>
          <value code="3">
            <text>Not working - looking for job</text>
          </value>
          <value code="4">
            <text>Not working - government support</text>
          </value>
          <value code="5">
            <text>Live in nanny / housekeeper / helper</text>
          </value>
          <value code="6">
            <text>Non live in nanny / housekeeper / helper</text>
          </value>
          <value code="7">
            <text>Manual worker / builder / cleaner</text>
          </value>
          <value code="8">
            <text>Plant or machine operator / driver / miner</text>
          </value>
          <value code="9">
            <text>Skilled worker / crafts / electrician</text>
          </value>
          <value code="10">
            <text>Farmer / forestry / fishery / animal production</text>
          </value>
          <value code="11">
            <text>Services: captain / travel attendant / cook / waiter / shop salesperson / security</text>
          </value>
          <value code="12">
            <text>Clerk / secretary</text>
          </value>
          <value code="13">
            <text>Professional: lawyer / architect / doctor / nurse / scientist / engineer / teacher / PR / sales / marketing</text>
          </value>
          <value code="14">
            <text>Manager / executive / business owner</text>
          </value>
          <value code="15">
            <text>Emergency services / armed forces</text>
          </value>
          <value code="16">
            <text>Government</text>
          </value>
          <value code="17">
            <text>Royalty</text>
          </value>
          <value code="18">
            <text>Other</text>
          </value>
        </values>
      </variable>
      <variable ident="44" type="single">
        <name>AA13N1</name>
        <label>
          <text>What is the profession of the highest earner in your household?</text>
        </label>
        <position start="44" />
        <values>
          <value code="1">
            <text>Not working - housewife</text>
          </value>
          <value code="2">
            <text>Not working - student</text>
          </value>
          <value code="3">
            <text>Not working - looking for job</text>
          </value>
          <value code="4">
            <text>Not working - government support</text>
          </value>
          <value code="5">
            <text>Live in nanny / housekeeper / helper</text>
          </value>
          <value code="6">
            <text>Non live in nanny / housekeeper / helper</text>
          </value>
          <value code="7">
            <text>Manual worker / builder / cleaner</text>
          </value>
          <value code="8">
            <text>Plant or machine operator / driver / miner</text>
          </value>
          <value code="9">
            <text>Skilled worker / crafts / electrician</text>
          </value>
          <value code="10">
            <text>Farmer / forestry / fishery / animal production</text>
          </value>
          <value code="11">
            <text>Services: captain / travel attendant / cook / waiter / shop salesperson / security</text>
          </value>
          <value code="12">
            <text>Clerk / secretary</text>
          </value>
          <value code="13">
            <text>Professional: lawyer / architect / doctor / nurse / scientist / engineer / teacher / PR / sales / marketing</text>
          </value>
          <value code="14">
            <text>Manager / executive / business owner</text>
          </value>
          <value code="15">
            <text>Emergency services / armed forces</text>
          </value>
          <value code="16">
            <text>Government</text>
          </value>
          <value code="17">
            <text>Royalty</text>
          </value>
          <value code="18">
            <text>Other</text>
          </value>
        </values>
      </variable>
      <variable ident="45" type="single">
        <name>AA14N1</name>
        <label>
          <text>Which of the following contains your monthly total household income?</text>
        </label>
        <position start="45" />
        <values>
          <value code="1">
            <text>No income</text>
          </value>
          <value code="2">
            <text>Up to $300 per month</text>
          </value>
          <value code="3">
            <text>$301 - $500 per month</text>
          </value>
          <value code="4">
            <text>$501 - $750 per month</text>
          </value>
          <value code="5">
            <text>$751 - $1,000 per month</text>
          </value>
          <value code="6">
            <text>$1,001 - $2,000 per month</text>
          </value>
          <value code="7">
            <text>$2,001 - $3,500 per month</text>
          </value>
          <value code="8">
            <text>$3,501 - $5,000 per month</text>
          </value>
          <value code="9">
            <text>$5,000 - $10,000 per month</text>
          </value>
          <value code="10">
            <text>$10,001 - $25,000 per month</text>
          </value>
          <value code="11">
            <text>$25,001 - $50,000 per month</text>
          </value>
          <value code="12">
            <text>More than $50,000 per month</text>
          </value>
        </values>
      </variable>
      <variable ident="46" type="multiple">
        <name>AA15M1</name>
        <label>
          <text>Which of the following do you yourself use in your household?</text>
        </label>
        <position start="46" />
        <values>
          <value code="1">
            <text>TV</text>
          </value>
          <value code="2">
            <text>Satellite / cable TV</text>
          </value>
          <value code="3">
            <text>Broadband internet</text>
          </value>
          <value code="4">
            <text>DVD player</text>
          </value>
          <value code="5">
            <text>Smartphone</text>
          </value>
          <value code="6">
            <text>Laptop computer</text>
          </value>
          <value code="7">
            <text>Desktop computer</text>
          </value>
          <value code="8">
            <text>Tablet computer</text>
          </value>
          <value code="9">
            <text>Games console (e.g. Xbox, Playstation)</text>
          </value>
          <value code="10">
            <text>Car</text>
          </value>
          <value code="11">
            <text>None of these</text>
          </value>
        </values>
      </variable>
      <variable ident="47" type="multiple">
        <name>AA16M1</name>
        <label>
          <text>Which of the following are you responsible or jointly responsible for in your household?</text>
        </label>
        <position start="47" />
        <values>
          <value code="1">
            <text>Grocery shopping</text>
          </value>
          <value code="2">
            <text>Holiday / travel planning</text>
          </value>
          <value code="3">
            <text>Buying furniture</text>
          </value>
          <value code="4">
            <text>Buying electronics</text>
          </value>
          <value code="5">
            <text>Car purchase</text>
          </value>
          <value code="6">
            <text>Buying children's clothes / shoes / toys</text>
          </value>
          <value code="7">
            <text>Financial / insurance decisions</text>
          </value>
          <value code="8">
            <text>None of these</text>
          </value>
        </values>
      </variable>
      <variable ident="48" type="single">
        <name>AA17N1</name>
        <label>
          <text>How often do you do each of the following? Watch TV on a television</text>
        </label>
        <position start="48" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="49" type="single">
        <name>AA17N2</name>
        <label>
          <text>How often do you do each of the following? Use Facebook</text>
        </label>
        <position start="49" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="50" type="single">
        <name>AA17N3</name>
        <label>
          <text>How often do you do each of the following? Chat on instant messengers (e.g. Whatsapp)</text>
        </label>
        <position start="50" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="51" type="single">
        <name>AA17N4</name>
        <label>
          <text>How often do you do each of the following? Watch TV / programmes / films on the internet</text>
        </label>
        <position start="51" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="52" type="single">
        <name>AA17N5</name>
        <label>
          <text>How often do you do each of the following? Read news or sports on the internet</text>
        </label>
        <position start="52" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="53" type="single">
        <name>AA17N6</name>
        <label>
          <text>How often do you do each of the following? Do shopping over the internet</text>
        </label>
        <position start="53" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="54" type="single">
        <name>AA17N7</name>
        <label>
          <text>How often do you do each of the following? Go to the shops / malls</text>
        </label>
        <position start="54" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="55" type="single">
        <name>AA17N8</name>
        <label>
          <text>How often do you do each of the following? Play games on your mobile phone</text>
        </label>
        <position start="55" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="56" type="single">
        <name>AA17N9</name>
        <label>
          <text>How often do you do each of the following? Eat out at restaurants</text>
        </label>
        <position start="56" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="57" type="single">
        <name>AA17N10</name>
        <label>
          <text>How often do you do each of the following? Read newspapers</text>
        </label>
        <position start="57" />
        <values>
          <value code="1">
            <text>Never</text>
          </value>
          <value code="2">
            <text>Less than once a month</text>
          </value>
          <value code="3">
            <text>Once a month</text>
          </value>
          <value code="4">
            <text>2-3 times a month</text>
          </value>
          <value code="5">
            <text>Once a week</text>
          </value>
          <value code="6">
            <text>2-3 times a week</text>
          </value>
          <value code="7">
            <text>4-5 times a week</text>
          </value>
          <value code="8">
            <text>Almost every day</text>
          </value>
          <value code="9">
            <text>Several times a day</text>
          </value>
        </values>
      </variable>
      <variable ident="58" type="multiple">
        <name>AA18M1</name>
        <label>
          <text>Which of the following statements are true for you?</text>
        </label>
        <position start="58" />
        <values>
          <value code="1">
            <text>I have spent $4,000+ on travelling for pleasure per person (inc. flights, hotels and expenses) in the last 12 months</text>
          </value>
          <value code="2">
            <text>I normally fly business/first class when travelling for pleasure</text>
          </value>
          <value code="3">
            <text>I have spent $3,000+ on designer clothes and accessories in the past 12 months</text>
          </value>
          <value code="4">
            <text>I have spent $2,500+ on a single item of furniture in the past 12 months</text>
          </value>
          <value code="5">
            <text>I have spent $2,500+ on jewellery or watches of myself or for gifts in the past 12 months</text>
          </value>
          <value code="6">
            <text>I own a car worth $35,000+</text>
          </value>
          <value code="7">
            <text>I have spent $3,000+ on electronic goods/gadgets in the past 12 months</text>
          </value>
          <value code="8">
            <text>I have spent $3,000+ on art items in the past 12 months</text>
          </value>
          <value code="9">
            <text>None of these</text>
          </value>
        </values>
      </variable>
      <variable ident="59" type="character">
        <name>AA19M1.1</name>
        <label>
          <text>Thank you for completing the profiling questionnaire! We now need your contact details so that we can send you more information about the panel.  Please ensure that the details are correct as we will not otherwise be able to contact you for participating in surveys or for notifying if you have won a prize. We will never give your name or contact details to third parties or use them for marketing purposes. Your details are secure with idloo and are only used to communicate with you regarding surveys and prizes. Name</text>
        </label>
        <position start="59" />
        <size>50</size>
      </variable>
      <variable ident="60" type="character">
        <name>AA19M1.2</name>
        <label>
          <text>Thank you for completing the profiling questionnaire! We now need your contact details so that we can send you more information about the panel.  Please ensure that the details are correct as we will not otherwise be able to contact you for participating in surveys or for notifying if you have won a prize. We will never give your name or contact details to third parties or use them for marketing purposes. Your details are secure with idloo and are only used to communicate with you regarding surveys and prizes. Surname / Family name</text>
        </label>
        <position start="60" />
        <size>50</size>
      </variable>
      <variable ident="61" type="character">
        <name>AA19M1.3</name>
        <label>
          <text>Thank you for completing the profiling questionnaire! We now need your contact details so that we can send you more information about the panel.  Please ensure that the details are correct as we will not otherwise be able to contact you for participating in surveys or for notifying if you have won a prize. We will never give your name or contact details to third parties or use them for marketing purposes. Your details are secure with idloo and are only used to communicate with you regarding surveys and prizes. Email address</text>
        </label>
        <position start="61" />
        <size>50</size>
      </variable>
      <variable ident="62" type="character">
        <name>AA19M1.4</name>
        <label>
          <text>Thank you for completing the profiling questionnaire! We now need your contact details so that we can send you more information about the panel.  Please ensure that the details are correct as we will not otherwise be able to contact you for participating in surveys or for notifying if you have won a prize. We will never give your name or contact details to third parties or use them for marketing purposes. Your details are secure with idloo and are only used to communicate with you regarding surveys and prizes. Telephone number (including country code)</text>
        </label>
        <position start="62" />
        <size>50</size>
      </variable>
      <variable ident="63" type="single">
        <name>AStatusN1</name>
        <label>
          <text>Status -- ADD 1 try \date=* to answer control!!</text>
        </label>
        <position start="63" />
        <values>
          <value code="1">
            <text>Complete</text>
          </value>
        </values>
      </variable>
      <variable ident="64" type="quantity">
        <name>AEndTF1</name>
        <label>
          <text>
          </text>
        </label>
        <position start="64" />
        <values>
          <range from="00000000" to="99999999" />
        </values>
      </variable>
      <variable ident="65" type="quantity">
        <name>ADurationF1</name>
        <label>
          <text>
          </text>
        </label>
        <position start="65" />
        <values>
          <range from="00000" to="99999" />
        </values>
      </variable>
    </record>
  </survey>
</sss>